html{
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

body {
    background: linear-gradient(to right,rgb(194, 181, 203),rgb(211, 158, 230));
     }

header{
    background-color: rgb(212, 135, 161);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
}

/*navegador*/

nav {

}

.contenedor{
    background: rgb(252, 249, 249);
    align-items: baseline;
    align-content: flex-start;
    margin-left: auto;
    height: 50%;
    max-width: 500px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
}